{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
{# <style>
           .example-wrapper { margin: 1em auto; max-width: 1100px; width: 95%; font: 18px/1.5 sans-serif; display:flex; gap: 3rem; flex-wrap:wrap; justify-content: space-evenly}
           body { background-color: #c2d4b8ff }
           body {padding:2rem 30rem}

</style>  Il fait presque la meme chose que les div encerclant le formulaire#}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6"> 
            <h1 class="h1 mb-5 font-weight-normal"> Bienvenue à la page d'inscription </h1> 

                {% if app.user %}

                    <h1 class="h3 mb-3 font-weight-normal"> Vous etes déjà inscrit</h1>
                    <p> Vous pouvez acceder à votre compte ici : 
                        <a class="btn btn-success" href="{{path('app_my_account')}}" > Mon compte</a>
                    </p>
                    <p> Ou vous déconnecter ici : 
                        <a href=" {{path('app_logout')}} " class="btn btn-warning" > Déconnexion </a>
                    </p>

                {% else %}

                    <h1 class="h3 mb-3 font-weight-normal"> Veuillez vous inscrire</h1>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
                        {{ form_row(registrationForm.email, {
                            'attr': {'class': 'form-control'},
                            'label_attr': {'class': 'form-label'}
                        }) }}

                        {{ form_row(registrationForm.plainPassword.first, {
                            'label': 'Mot de passe',
                            'attr': {'class': 'form-control'},
                            'label_attr': {'class': 'form-label'}
                        }) }}

                        {{ form_row(registrationForm.plainPassword.second, {
                            'label': 'Confirmer le mot de passe',
                            'attr': {'class': 'form-control'},
                            'label_attr': {'class': 'form-label'}
                        }) }}

                        {{ form_row(registrationForm.agreeTerms, {
                            'label_attr': {'class': 'form-check-label'},
                            'row_attr': {'class': 'form-check'},
                            'attr': {'class': 'form-check-input'}
                        }) }}

                        <button type="submit" class="btn btn-primary mt-3">Register</button>
                    {{ form_end(registrationForm) }}  
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
